In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from matplotlib.gridspec import GridSpec
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# procesā izmantotie materiāli
# https://www.kaggle.com/code/anlgrbz/data-cleaning-feature-generation-eda-segmentation
# https://www.kaggle.com/code/zincbottom/oulad-random-forest

In [3]:
assessment_df = pd.read_csv("assessments.csv")
print(assessment_df.shape)
assessment_df.head()

(206, 6)

  code_module code_presentation  id_assessment assessment_type   date  weight
0         AAA             2013J           1752             TMA   19.0    10.0
1         AAA             2013J           1753             TMA   54.0    20.0
2         AAA             2013J           1754             TMA  117.0    20.0
3         AAA             2013J           1755             TMA  166.0    20.0
4         AAA             2013J           1756             TMA  215.0    30.0

In [4]:
courses_df = pd.read_csv("courses.csv")
print(courses_df.shape)
courses_df.head()

(22, 3)

  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

In [5]:
stud_asses_df = pd.read_csv("studentAssessment.csv")
print(stud_asses_df.shape)
stud_asses_df.head()

(173912, 5)

   id_assessment  id_student  date_submitted  is_banked  score
0           1752       11391              18          0   78.0
1           1752       28400              22          0   70.0
2           1752       31604              17          0   72.0
3           1752       32885              26          0   69.0
4           1752       38053              19          0   79.0

In [6]:
stud_info_df = pd.read_csv("studentInfo.csv")
print(stud_info_df.shape)
stud_info_df.head()

(32593, 12)

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass

In [7]:
stud_reg_df = pd.read_csv("studentRegistration.csv")
print(stud_reg_df.shape)
stud_reg_df.head()

(32593, 5)

,code_module,code_presentation,id_student,date_registration,date_unregistration
0,AAA,2013J,11391,-159.0,NaN
1,AAA,2013J,28400,-53.0,NaN
2,AAA,2013J,30268,-92.0,12.0
3,AAA,2013J,31604,-52.0,NaN
4,AAA,2013J,32885,-176.0,NaN

In [8]:
stud_vle_df = pd.read_csv("studentVle.csv")
print(stud_vle_df.shape)
stud_vle_df.head()

(10655280, 6)

  code_module code_presentation  id_student  id_site  date  sum_click
0         AAA             2013J       28400   546652   -10          4
1         AAA             2013J       28400   546652   -10          1
2         AAA             2013J       28400   546652   -10          1
3         AAA             2013J       28400   546614   -10         11
4         AAA             2013J       28400   546714   -10          1

In [9]:
vle_df = pd.read_csv("vle.csv")
print(vle_df.shape)
print(vle_df.activity_type.value_counts())
vle_df.head()

(6364, 6)
resource          2660
subpage           1055
oucontent          996
url                886
forumng            194
quiz               127
page               102
oucollaborate       82
questionnaire       61
ouwiki              49
dataplus            28
externalquiz        26
homepage            22
ouelluminate        21
glossary            21
dualpane            20
repeatactivity       5
htmlactivity         4
sharedsubpage        3
folder               2
Name: activity_type, dtype: int64

   id_site code_module code_presentation activity_type  week_from  week_to
0   546943         AAA             2013J      resource        NaN      NaN
1   546712         AAA             2013J     oucontent        NaN      NaN
2   546998         AAA             2013J      resource        NaN      NaN
3   546888         AAA             2013J           url        NaN      NaN
4   547035         AAA             2013J      resource        NaN      NaN

In [10]:
# aizgūts no https://www.kaggle.com/code/anlgrbz/data-cleaning-feature-generation-eda-segmentation
# tiek apvienotas code_module un code_presentation pazīmes, izveidojot vienu pazīmi

courses_df["module_presentation"] = list(map(lambda x,y: str(x) + "_" + str(y), courses_df.code_module, courses_df.code_presentation))
assessment_df["module_presentation"] = list(map(lambda x,y: str(x) + "_" + str(y), assessment_df.code_module, assessment_df.code_presentation))
vle_df["module_presentation"] = list(map(lambda x,y: str(x) + "_" + str(y), vle_df.code_module, vle_df.code_presentation))
stud_info_df["module_presentation"] = list(map(lambda x,y: str(x) + "_" + str(y), stud_info_df.code_module, stud_info_df.code_presentation))
stud_reg_df["module_presentation"] = list(map(lambda x,y: str(x) + "_" + str(y), stud_reg_df.code_module, stud_reg_df.code_presentation))
stud_vle_df["module_presentation"] = list(map(lambda x,y: str(x) + "_" + str(y), stud_vle_df.code_module, stud_vle_df.code_presentation))

In [11]:
# šajā gadījumā nav svarīgs laika periods, kad modulis norisinājās
vle_df = vle_df.drop(columns=['week_from','week_to'])
vle_df.head()

   id_site code_module code_presentation activity_type module_presentation
0   546943         AAA             2013J      resource           AAA_2013J
1   546712         AAA             2013J     oucontent           AAA_2013J
2   546998         AAA             2013J      resource           AAA_2013J
3   546888         AAA             2013J           url           AAA_2013J
4   547035         AAA             2013J      resource           AAA_2013J

In [12]:
# kādas un cik kategorijas ir final_result
stud_info_df.final_result.value_counts()

Pass           12361
Withdrawn      10156
Fail            7052
Distinction     3024
Name: final_result, dtype: int64

In [13]:
# ir nepieciešams pārbaudīt, vai visiem studentiem, kuri ir unregistered, studentInfo final_result ir withdrawn

#Select unregistered students according to registration table
temp = stud_reg_df.loc[stud_reg_df.date_unregistration.notna()]

# Join to see matching rows
temp =pd.merge(stud_info_df, temp, on=['id_student','module_presentation'])

# Unregistered students without a "Withdrawn" in final result column 
# Semantic Error -- If a student unregistered, have to have "Withdrawn" as final result! 
wrong_final_results=temp.loc[temp.final_result!='Withdrawn']
incorrect_final_results=wrong_final_results.index
wrong_final_results

# rezultātā iegūstam 9 studentus, kuri ir unregistered, bet final_result ir fail nevis withdrawn

,code_module_x,code_presentation_x,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,module_presentation,code_module_y,code_presentation_y,date_registration,date_unregistration
719,BBB,2013J,362907,F,South West Region,Lower Than A Level,20-30%,35-55,2,60,N,Fail,BBB_2013J,BBB,2013J,-37.0,0.0
724,BBB,2013J,365288,F,South Region,A Level or Equivalent,70-80%,0-35,0,60,N,Fail,BBB_2013J,BBB,2013J,-75.0,0.0
869,BBB,2013J,554243,F,South West Region,Lower Than A Level,60-70%,0-35,0,60,N,Fail,BBB_2013J,BBB,2013J,-35.0,166.0
4961,DDD,2013J,315082,M,West Midlands Region,A Level or Equivalent,50-60%,0-35,0,60,N,Fail,DDD_2013J,DDD,2013J,-73.0,0.0
5010,DDD,2013J,403052,F,Yorkshire Region,HE Qualification,20-30%,0-35,0,150,N,Fail,DDD_2013J,DDD,2013J,-22.0,0.0
5293,DDD,2013J,582954,M,London Region,Lower Than A Level,10-20,0-35,0,120,N,Fail,DDD_2013J,DDD,2013J,-81.0,-7.0
7853,FFF,2013J,234004,M,Yorkshire Region,A Level or Equivalent,50-60%,0-35,0,60,N,Fail,FFF_2013J,FFF,2013J,-33.0,0.0
8001,FFF,2013J,523777,M,North Region,A Level or Equivalent,0-10%,35-55,1,60,N,Fail,FFF_2013J,FFF,2013J,-60.0,0.0
8340,FFF,2013J,601640,M,London Region,HE Qualification,20-30%,0-35,0,90,N,Fail,FFF_2013J,FFF,2013J,-58.0,-4.0

In [14]:
# fail tiek mainīts uz withdrawn
for i in wrong_final_results[['id_student','code_module_x','code_presentation_x']].values:
    stud_info_df.loc[(stud_info_df.id_student==i[0])&(stud_info_df.code_module==i[1])&\
                 (stud_info_df.code_presentation==i[2]),'final_result'] = 'Withdrawn'

#### darbā izmantošu FFF moduli (kursu), kas ietilpst STEM
#### tā kā ir dažādi code_presentation jeb priekšmeta norises periodi, šajā kontekstā tiek izvēlēts 2014J
#### attiecīgi FFF_2014J
#### lai samazināt apskatāmās info apjomu, visās tabulās, kur vien varu, atlasu module_presentation ==  FFF_2014J

In [15]:
assessment_df_fff = assessment_df.loc[assessment_df.module_presentation == 'FFF_2014J']
assessment_df_fff = assessment_df_fff.drop(columns=['code_module', 'code_presentation'])
assessment_df_fff

     id_assessment assessment_type   date  weight module_presentation
163          34904             CMA  241.0     0.0           FFF_2014J
164          34905             CMA  241.0     0.0           FFF_2014J
165          34906             CMA  241.0     0.0           FFF_2014J
166          34907             CMA  241.0     0.0           FFF_2014J
167          34908             CMA  241.0     0.0           FFF_2014J
168          34910             CMA  241.0     0.0           FFF_2014J
169          34909             CMA  241.0     0.0           FFF_2014J
170          34899             TMA   24.0    12.5           FFF_2014J
171          34900             TMA   52.0    12.5           FFF_2014J
172          34901             TMA   94.0    25.0           FFF_2014J
173          34902             TMA  136.0    25.0           FFF_2014J
174          34903             TMA  199.0    25.0           FFF_2014J
175          34911            Exam  241.0   100.0           FFF_2014J

In [16]:
courses_df_fff = courses_df.loc[courses_df.module_presentation == 'FFF_2014J']
courses_df_fff = courses_df_fff.drop(columns=['code_module', 'code_presentation'])
courses_df_fff

    module_presentation_length module_presentation
16                         269           FFF_2014J

In [17]:
stud_info_df_fff = stud_info_df.loc[stud_info_df.module_presentation == 'FFF_2014J']
stud_info_df_fff = stud_info_df_fff.drop(columns=['code_module', 'code_presentation'])
stud_info_df_fff

,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,module_presentation
27694,31296,M,East Midlands Region,Lower Than A Level,30-40%,0-35,1,60,N,Fail,FFF_2014J
27695,35747,M,North Western Region,A Level or Equivalent,0-10%,35-55,0,120,N,Withdrawn,FFF_2014J
27696,35796,M,Wales,A Level or Equivalent,20-30%,0-35,0,60,N,Fail,FFF_2014J
27697,40857,F,North Western Region,A Level or Equivalent,30-40%,0-35,0,120,Y,Withdrawn,FFF_2014J
27698,40878,M,North Western Region,Lower Than A Level,0-10%,0-35,0,120,N,Distinction,FFF_2014J
...,...,...,...,...,...,...,...,...,...,...,...
30054,2687012,M,North Western Region,Lower Than A Level,20-30%,35-55,1,150,N,Withdrawn,FFF_2014J
30055,2693932,M,West Midlands Region,A Level or Equivalent,90-100%,0-35,1,120,N,Pass,FFF_2014J
30056,2694139,M,East Anglian Region,Lower Than A Level,70-80%,35-55,0,60,N,Withdrawn,FFF_2014J
30057,2697921,M,East Anglian Region,Lower Than A Level,80-90%,0-35,1,60,N,Pass,FFF_2014J
30058,2702660,F,London Region,Lower Than A Level,50-60%,0-35,0,240,N,Withdrawn,FFF_2014J

In [18]:
stud_info_df_fff.final_result.value_counts()

Pass           859
Withdrawn      855
Fail           393
Distinction    258
Name: final_result, dtype: int64

In [19]:
stud_reg_df_fff = stud_reg_df.loc[stud_reg_df.module_presentation == 'FFF_2014J']
stud_reg_df_fff = stud_reg_df_fff.drop(columns=['code_module', 'code_presentation'])
stud_reg_df_fff

       id_student  date_registration  date_unregistration module_presentation
27694       31296              -20.0                  NaN           FFF_2014J
27695       35747              -15.0                 12.0           FFF_2014J
27696       35796              -66.0                  NaN           FFF_2014J
27697       40857              -89.0                108.0           FFF_2014J
27698       40878              -86.0                  NaN           FFF_2014J
...           ...                ...                  ...                 ...
30054     2687012              -78.0                -12.0           FFF_2014J
30055     2693932              -72.0                  NaN           FFF_2014J
30056     2694139              -81.0                137.0           FFF_2014J
30057     2697921              -32.0                  NaN           FFF_2014J
30058     2702660                NaN                  9.0           FFF_2014J

[2365 rows x 4 columns]

In [20]:
stud_vle_df_fff = stud_vle_df.loc[stud_vle_df.module_presentation == 'FFF_2014J']
stud_vle_df_fff = stud_vle_df_fff.drop(columns=['code_module', 'code_presentation'])
stud_vle_df_fff

          id_student  id_site  date  sum_click module_presentation
9057748      2398260   883041   -18          1           FFF_2014J
9057749      2398260   882602   -18          1           FFF_2014J
9057750      2398260   882587   -18          2           FFF_2014J
9057751      2398260   883142   -18          1           FFF_2014J
9057752      2398260   883092   -18          1           FFF_2014J
...              ...      ...   ...        ...                 ...
10268102     1995177   882537   269          1           FFF_2014J
10268103     2143312   882547   269          3           FFF_2014J
10268104     2143312   882537   269          1           FFF_2014J
10268105     2143312   882547   269          5           FFF_2014J
10268106     2154361   882537   269          1           FFF_2014J

[1210359 rows x 5 columns]

In [21]:
vle_df_fff = vle_df.loc[vle_df.module_presentation == 'FFF_2014J']
vle_df_fff = vle_df_fff.drop(columns=['code_module', 'code_presentation'])
vle_df_fff

      id_site  activity_type module_presentation
5545   883082        subpage           FFF_2014J
5546   883294            url           FFF_2014J
5547   882713  questionnaire           FFF_2014J
5548   883163            url           FFF_2014J
5549   882561      oucontent           FFF_2014J
...       ...            ...                 ...
5992   883231            url           FFF_2014J
5993   882639      oucontent           FFF_2014J
5994   883051        subpage           FFF_2014J
5995   883264            url           FFF_2014J
5996   882673           quiz           FFF_2014J

[452 rows x 3 columns]

In [22]:
# score data
def create_score_df():
    
    # Join Assessment and StudentAssessment tables
    joined=pd.merge(stud_asses_df,assessment_df_fff,on='id_assessment',how='left')
    
    # Calculate weighted scores for all assessments of all students
    joined['score*weight']=(joined['score']*joined['weight'])

    # Sum up score*weights and divide by total weights
    marks = joined.groupby(['id_student','module_presentation'],as_index=False)['score*weight','weight'].sum()
    
    # vēl var izveidot weighted score dalot scor*weight/weight, bet tas īsti nav būtiski
    # jo tad studentam, kurš labi izpildījis vienu assignment gala rezultātā sanāks final score tikai tā assignment rezultāts
    # kas nav loģiski, jo ir jāņem vērā, ka kopējais visu assignment weight ir 100
    
    # 100 ir visu assignmentu weight sum
    marks['w_final_score'] = marks['score*weight']/100

    marks = marks.round(1)
    return marks

In [23]:
# no https://www.kaggle.com/code/zincbottom/oulad-random-forest Prepping the Data for Analysis

# function for merging 2 pandas dataframes

def inner_merge(left_df,right_df,right_cols,on_cols):
    right_df = right_df[right_cols]
    left_df = left_df.merge(right_df, on = on_cols)
    return left_df.drop_duplicates()

In [24]:
# click data

def create_click_df():

    clicks = stud_vle_df_fff

    clicks = inner_merge(clicks,
                         vle_df_fff,
                         ['id_site','module_presentation','activity_type'],
                         ['id_site','module_presentation'],
                        )

    clicks = clicks.drop('id_site', axis = 1)
    #print(clicks)

    def clicks_xx(clicks):
        temp = clicks
        temp = temp.drop('date', axis = 1)
        temp = temp.groupby(['module_presentation','id_student','activity_type']).sum()
        temp = temp.reset_index() # this fills out the missing columns for merging later 
        return temp
    
    #print(clicks_xx(clicks))

    click_data = pd.pivot_table(data = clicks_xx(clicks), 
                                index = ['module_presentation','id_student'],
                                columns = 'activity_type', 
                                values = ['sum_click'],
                                fill_value = 0,
                               ).reset_index()

    # get rid of multi index
    click_data = pd.concat([click_data['module_presentation'],
                            click_data['id_student'],
                            click_data['sum_click']], axis=1)
    return click_data

In [25]:
# merge score_df and click_df
def create_final_df(score_df, click_df):

    final_df = inner_merge(click_df, # merge with StudentInfo
                           stud_info_df_fff,
                           stud_info_df_fff.columns,
                           ['module_presentation', 'id_student'],
                          )

    final_df = final_df.replace('Distinction','Pass') # merge Pass and Distinction

    final_df = inner_merge(final_df, 
                           stud_reg_df_fff,
                           ['module_presentation', 'id_student', 'date_unregistration'],
                           ['module_presentation', 'id_student'],
                          )

    final_df = final_df[(final_df['final_result'] != 'Withdrawn')] # remove people who withdrew

    final_df = final_df.reset_index()

    final_df = final_df.drop(['date_unregistration','index'],axis = 1)

    final_df = inner_merge(final_df,
                           score_df,
                           score_df.columns,
                           ['module_presentation', 'id_student'])

    return final_df

In [26]:
score_df = create_score_df()
click_df = create_click_df()
final_df = create_final_df(score_df, click_df)
final_df

,module_presentation,id_student,dataplus,dualpane,forumng,glossary,homepage,htmlactivity,oucollaborate,oucontent,...,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,score*weight,weight,w_final_score
0,FFF_2014J,31296,0,0,9,0,118,0,0,397,...,Lower Than A Level,30-40%,0-35,1,60,N,Fail,5225.0,100.0,52.2
1,FFF_2014J,35796,0,0,102,0,118,4,0,208,...,A Level or Equivalent,20-30%,0-35,0,60,N,Fail,1025.0,12.5,10.2
2,FFF_2014J,40878,6,0,251,0,331,4,4,943,...,Lower Than A Level,0-10%,0-35,0,120,N,Pass,8800.0,100.0,88.0
3,FFF_2014J,42552,7,1,489,19,908,11,19,1572,...,A Level or Equivalent,80-90%,0-35,0,90,N,Pass,7175.0,100.0,71.8
4,FFF_2014J,43958,0,0,179,0,237,1,0,373,...,A Level or Equivalent,90-100%,35-55,1,60,N,Fail,4450.0,50.0,44.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,FFF_2014J,2681198,4,1,615,1,574,3,99,842,...,Lower Than A Level,70-80%,35-55,0,90,N,Pass,5050.0,100.0,50.5
1461,FFF_2014J,2682682,16,0,263,0,410,3,27,1257,...,A Level or Equivalent,60-70%,0-35,0,120,Y,Pass,9025.0,100.0,90.2
1462,FFF_2014J,2683857,33,1,563,0,1122,5,22,3997,...,Lower Than A Level,70-80%,35-55,1,90,N,Pass,7325.0,100.0,73.2
1463,FFF_2014J,2693932,0,0,78,0,269,4,0,1177,...,A Level or Equivalent,90-100%,0-35,1,120,N,Pass,6700.0,75.0,67.0
1464,FFF_2014J,2697921,0,0,114,0,201,3,5,696,...,Lower Than A Level,80-90%,0-35,1,60,N,Pass,8425.0,100.0,84.2

In [27]:
final_df.w_final_score.isna().sum()

0

In [29]:
# c at the end means categorized
final_df_adj_c = final_df
final_df.final_result.value_counts()

Pass    1117
Fail     348
Name: final_result, dtype: int64

In [30]:
final_df.columns

# kolonnas klikšķu aktivitātēm
# 'dataplus', 'dualpane', 'forumng', 'glossary', 'homepage', 'htmlactivity', 'oucollaborate', 'oucontent',
# 'ouwiki', 'page', 'questionnaire', 'quiz', 'repeatactivity', 'resource',
# 'subpage', 'url'

Index(['module_presentation', 'id_student', 'dataplus', 'dualpane', 'forumng',
       'glossary', 'homepage', 'htmlactivity', 'oucollaborate', 'oucontent',
       'ouwiki', 'page', 'questionnaire', 'quiz', 'repeatactivity', 'resource',
       'subpage', 'url', 'gender', 'region', 'highest_education', 'imd_band',
       'age_band', 'num_of_prev_attempts', 'studied_credits', 'disability',
       'final_result', 'score*weight', 'weight', 'w_final_score'],
      dtype='object')

In [31]:
def map_dataplus(dataplus):
  if dataplus >= 0 and dataplus < 20:
    return "0-20"
  elif dataplus >= 20 and dataplus < 50:
    return "20-50"
  elif dataplus >= 50 and dataplus < 100:
    return "50-100"
  else:
    return "100<="

final_df_adj_c["dataplus"] = final_df_adj_c["dataplus"].apply(lambda dataplus: map_dataplus(dataplus))
final_df_adj_c

,module_presentation,id_student,dataplus,dualpane,forumng,glossary,homepage,htmlactivity,oucollaborate,oucontent,...,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,score*weight,weight,w_final_score
0,FFF_2014J,31296,0-20,0,9,0,118,0,0,397,...,Lower Than A Level,30-40%,0-35,1,60,N,Fail,5225.0,100.0,52.2
1,FFF_2014J,35796,0-20,0,102,0,118,4,0,208,...,A Level or Equivalent,20-30%,0-35,0,60,N,Fail,1025.0,12.5,10.2
2,FFF_2014J,40878,0-20,0,251,0,331,4,4,943,...,Lower Than A Level,0-10%,0-35,0,120,N,Pass,8800.0,100.0,88.0
3,FFF_2014J,42552,0-20,1,489,19,908,11,19,1572,...,A Level or Equivalent,80-90%,0-35,0,90,N,Pass,7175.0,100.0,71.8
4,FFF_2014J,43958,0-20,0,179,0,237,1,0,373,...,A Level or Equivalent,90-100%,35-55,1,60,N,Fail,4450.0,50.0,44.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,FFF_2014J,2681198,0-20,1,615,1,574,3,99,842,...,Lower Than A Level,70-80%,35-55,0,90,N,Pass,5050.0,100.0,50.5
1461,FFF_2014J,2682682,0-20,0,263,0,410,3,27,1257,...,A Level or Equivalent,60-70%,0-35,0,120,Y,Pass,9025.0,100.0,90.2
1462,FFF_2014J,2683857,20-50,1,563,0,1122,5,22,3997,...,Lower Than A Level,70-80%,35-55,1,90,N,Pass,7325.0,100.0,73.2
1463,FFF_2014J,2693932,0-20,0,78,0,269,4,0,1177,...,A Level or Equivalent,90-100%,0-35,1,120,N,Pass,6700.0,75.0,67.0
1464,FFF_2014J,2697921,0-20,0,114,0,201,3,5,696,...,Lower Than A Level,80-90%,0-35,1,60,N,Pass,8425.0,100.0,84.2

In [32]:
print(final_df.forumng.max())
print(final_df.forumng.value_counts(bins=[0,100,500,1000,3000,5000,10000], sort=True))

8846
(100.0, 500.0]       743
(-0.001, 100.0]      418
(500.0, 1000.0]      206
(1000.0, 3000.0]      77
(3000.0, 5000.0]      14
(5000.0, 10000.0]      7
Name: forumng, dtype: int64

In [33]:
def map_forumng(forumng):
  if forumng >= 0 and forumng < 100:
    return "0-100"
  elif forumng >= 100 and forumng < 500:
    return "100-500"
  elif forumng >= 500 and forumng < 1000:
    return "500-1000"
  elif forumng >= 1000 and forumng < 3000:
    return "1000-3000"
  else:
    return "3000<="

final_df_adj_c["forumng"] = final_df_adj_c["forumng"].apply(lambda forumng: map_forumng(forumng))
final_df_adj_c

,module_presentation,id_student,dataplus,dualpane,forumng,glossary,homepage,htmlactivity,oucollaborate,oucontent,...,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,score*weight,weight,w_final_score
0,FFF_2014J,31296,0-20,0,0-100,0,118,0,0,397,...,Lower Than A Level,30-40%,0-35,1,60,N,Fail,5225.0,100.0,52.2
1,FFF_2014J,35796,0-20,0,100-500,0,118,4,0,208,...,A Level or Equivalent,20-30%,0-35,0,60,N,Fail,1025.0,12.5,10.2
2,FFF_2014J,40878,0-20,0,100-500,0,331,4,4,943,...,Lower Than A Level,0-10%,0-35,0,120,N,Pass,8800.0,100.0,88.0
3,FFF_2014J,42552,0-20,1,100-500,19,908,11,19,1572,...,A Level or Equivalent,80-90%,0-35,0,90,N,Pass,7175.0,100.0,71.8
4,FFF_2014J,43958,0-20,0,100-500,0,237,1,0,373,...,A Level or Equivalent,90-100%,35-55,1,60,N,Fail,4450.0,50.0,44.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,FFF_2014J,2681198,0-20,1,500-1000,1,574,3,99,842,...,Lower Than A Level,70-80%,35-55,0,90,N,Pass,5050.0,100.0,50.5
1461,FFF_2014J,2682682,0-20,0,100-500,0,410,3,27,1257,...,A Level or Equivalent,60-70%,0-35,0,120,Y,Pass,9025.0,100.0,90.2
1462,FFF_2014J,2683857,20-50,1,500-1000,0,1122,5,22,3997,...,Lower Than A Level,70-80%,35-55,1,90,N,Pass,7325.0,100.0,73.2
1463,FFF_2014J,2693932,0-20,0,0-100,0,269,4,0,1177,...,A Level or Equivalent,90-100%,0-35,1,120,N,Pass,6700.0,75.0,67.0
1464,FFF_2014J,2697921,0-20,0,100-500,0,201,3,5,696,...,Lower Than A Level,80-90%,0-35,1,60,N,Pass,8425.0,100.0,84.2

In [34]:
# šo pazīmi var neizmantot
print(final_df.dualpane.unique())
print(final_df.dualpane.value_counts(bins=[0,10,50,100,500], sort=True))

[ 0  1  3  2 13  4  6 10  7  5  8  9 15]
(-0.001, 10.0]    1463
(10.0, 50.0]         2
(100.0, 500.0]       0
(50.0, 100.0]        0
Name: dualpane, dtype: int64

In [35]:
# šo pazīmi var neizmantot
print(final_df.glossary.unique())
print(final_df.glossary.value_counts(bins=[0,10,50,100,500,1000], sort=True))

[  0  19   1   7   4   2   6  17   3  12  31   8  13 197  10  30  73 194
  18  16  42  27  11  47  21   9   5  52  14  93  20  83  25  36]
(-0.001, 10.0]     1433
(10.0, 50.0]         26
(50.0, 100.0]         4
(100.0, 500.0]        2
(500.0, 1000.0]       0
Name: glossary, dtype: int64

In [36]:
print(final_df.homepage.max())
print(final_df.homepage.value_counts(bins=[0,10,50,100,500,1000,5000], sort=True))

4752
(100.0, 500.0]      848
(500.0, 1000.0]     347
(1000.0, 5000.0]    102
(50.0, 100.0]        85
(10.0, 50.0]         76
(-0.001, 10.0]        7
Name: homepage, dtype: int64

In [37]:
def map_homepage(homepage):
  if homepage >= 0 and homepage < 10:
    return "0-10"
  elif homepage >= 10 and homepage < 50:
    return "10-50"
  elif homepage >= 50 and homepage < 100:
    return "50-100"
  elif homepage >= 100 and homepage < 500:
    return "100-500"
  elif homepage >= 500 and homepage < 1000:
    return "500-1000"
  else:
    return "3000<="

final_df_adj_c["homepage"] = final_df_adj_c["homepage"].apply(lambda homepage: map_homepage(homepage))
final_df_adj_c

,module_presentation,id_student,dataplus,dualpane,forumng,glossary,homepage,htmlactivity,oucollaborate,oucontent,...,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,score*weight,weight,w_final_score
0,FFF_2014J,31296,0-20,0,0-100,0,100-500,0,0,397,...,Lower Than A Level,30-40%,0-35,1,60,N,Fail,5225.0,100.0,52.2
1,FFF_2014J,35796,0-20,0,100-500,0,100-500,4,0,208,...,A Level or Equivalent,20-30%,0-35,0,60,N,Fail,1025.0,12.5,10.2
2,FFF_2014J,40878,0-20,0,100-500,0,100-500,4,4,943,...,Lower Than A Level,0-10%,0-35,0,120,N,Pass,8800.0,100.0,88.0
3,FFF_2014J,42552,0-20,1,100-500,19,500-1000,11,19,1572,...,A Level or Equivalent,80-90%,0-35,0,90,N,Pass,7175.0,100.0,71.8
4,FFF_2014J,43958,0-20,0,100-500,0,100-500,1,0,373,...,A Level or Equivalent,90-100%,35-55,1,60,N,Fail,4450.0,50.0,44.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,FFF_2014J,2681198,0-20,1,500-1000,1,500-1000,3,99,842,...,Lower Than A Level,70-80%,35-55,0,90,N,Pass,5050.0,100.0,50.5
1461,FFF_2014J,2682682,0-20,0,100-500,0,100-500,3,27,1257,...,A Level or Equivalent,60-70%,0-35,0,120,Y,Pass,9025.0,100.0,90.2
1462,FFF_2014J,2683857,20-50,1,500-1000,0,3000<=,5,22,3997,...,Lower Than A Level,70-80%,35-55,1,90,N,Pass,7325.0,100.0,73.2
1463,FFF_2014J,2693932,0-20,0,0-100,0,100-500,4,0,1177,...,A Level or Equivalent,90-100%,0-35,1,120,N,Pass,6700.0,75.0,67.0
1464,FFF_2014J,2697921,0-20,0,100-500,0,100-500,3,5,696,...,Lower Than A Level,80-90%,0-35,1,60,N,Pass,8425.0,100.0,84.2

In [38]:
# šo pazīmi var neizmantot
print(final_df.htmlactivity.max())
print(final_df.htmlactivity.value_counts(bins=[0,10,50,100,500,1000,5000], sort=True))

33
(-0.001, 10.0]      1383
(10.0, 50.0]          82
(1000.0, 5000.0]       0
(500.0, 1000.0]        0
(100.0, 500.0]         0
(50.0, 100.0]          0
Name: htmlactivity, dtype: int64

In [39]:
print(final_df.oucollaborate.max())
print(final_df.oucollaborate.value_counts(bins=[0,10,50,100,500,1000,5000], sort=True))

134
(-0.001, 10.0]      1185
(10.0, 50.0]         260
(50.0, 100.0]         18
(100.0, 500.0]         2
(1000.0, 5000.0]       0
(500.0, 1000.0]        0
Name: oucollaborate, dtype: int64

In [40]:
def map_oucollaborate(oucollaborate):
  if oucollaborate >= 0 and oucollaborate < 10:
    return "0-10"
  elif oucollaborate >= 10 and oucollaborate < 50:
    return "10-50"
  elif oucollaborate >= 50 and oucollaborate < 100:
    return "50-100"
  else:
    return "100<="

final_df_adj_c["oucollaborate"] = final_df_adj_c["oucollaborate"].apply(lambda oucollaborate: map_oucollaborate(oucollaborate))
final_df_adj_c

,module_presentation,id_student,dataplus,dualpane,forumng,glossary,homepage,htmlactivity,oucollaborate,oucontent,...,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,score*weight,weight,w_final_score
0,FFF_2014J,31296,0-20,0,0-100,0,100-500,0,0-10,397,...,Lower Than A Level,30-40%,0-35,1,60,N,Fail,5225.0,100.0,52.2
1,FFF_2014J,35796,0-20,0,100-500,0,100-500,4,0-10,208,...,A Level or Equivalent,20-30%,0-35,0,60,N,Fail,1025.0,12.5,10.2
2,FFF_2014J,40878,0-20,0,100-500,0,100-500,4,0-10,943,...,Lower Than A Level,0-10%,0-35,0,120,N,Pass,8800.0,100.0,88.0
3,FFF_2014J,42552,0-20,1,100-500,19,500-1000,11,10-50,1572,...,A Level or Equivalent,80-90%,0-35,0,90,N,Pass,7175.0,100.0,71.8
4,FFF_2014J,43958,0-20,0,100-500,0,100-500,1,0-10,373,...,A Level or Equivalent,90-100%,35-55,1,60,N,Fail,4450.0,50.0,44.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,FFF_2014J,2681198,0-20,1,500-1000,1,500-1000,3,50-100,842,...,Lower Than A Level,70-80%,35-55,0,90,N,Pass,5050.0,100.0,50.5
1461,FFF_2014J,2682682,0-20,0,100-500,0,100-500,3,10-50,1257,...,A Level or Equivalent,60-70%,0-35,0,120,Y,Pass,9025.0,100.0,90.2
1462,FFF_2014J,2683857,20-50,1,500-1000,0,3000<=,5,10-50,3997,...,Lower Than A Level,70-80%,35-55,1,90,N,Pass,7325.0,100.0,73.2
1463,FFF_2014J,2693932,0-20,0,0-100,0,100-500,4,0-10,1177,...,A Level or Equivalent,90-100%,0-35,1,120,N,Pass,6700.0,75.0,67.0
1464,FFF_2014J,2697921,0-20,0,100-500,0,100-500,3,0-10,696,...,Lower Than A Level,80-90%,0-35,1,60,N,Pass,8425.0,100.0,84.2

In [41]:
print(final_df.oucontent.max())
print(final_df.oucontent.value_counts(bins=[0,100,500,1000,5000,10000], sort=True))

7885
(1000.0, 5000.0]     773
(500.0, 1000.0]      298
(100.0, 500.0]       293
(-0.001, 100.0]       94
(5000.0, 10000.0]      7
Name: oucontent, dtype: int64

In [42]:
def map_oucontent(oucontent):
  if oucontent >= 0 and oucontent < 100:
    return "0-100"
  elif oucontent >= 100 and oucontent < 500:
    return "100-500"
  elif oucontent >= 500 and oucontent < 1000:
    return "500-1000"
  elif oucontent >= 1000 and oucontent < 5000:
    return "1000-5000"
  else:
    return "5000<="

final_df_adj_c["oucontent"] = final_df_adj_c["oucontent"].apply(lambda oucontent: map_oucontent(oucontent))
final_df_adj_c

,module_presentation,id_student,dataplus,dualpane,forumng,glossary,homepage,htmlactivity,oucollaborate,oucontent,...,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,score*weight,weight,w_final_score
0,FFF_2014J,31296,0-20,0,0-100,0,100-500,0,0-10,100-500,...,Lower Than A Level,30-40%,0-35,1,60,N,Fail,5225.0,100.0,52.2
1,FFF_2014J,35796,0-20,0,100-500,0,100-500,4,0-10,100-500,...,A Level or Equivalent,20-30%,0-35,0,60,N,Fail,1025.0,12.5,10.2
2,FFF_2014J,40878,0-20,0,100-500,0,100-500,4,0-10,500-1000,...,Lower Than A Level,0-10%,0-35,0,120,N,Pass,8800.0,100.0,88.0
3,FFF_2014J,42552,0-20,1,100-500,19,500-1000,11,10-50,1000-5000,...,A Level or Equivalent,80-90%,0-35,0,90,N,Pass,7175.0,100.0,71.8
4,FFF_2014J,43958,0-20,0,100-500,0,100-500,1,0-10,100-500,...,A Level or Equivalent,90-100%,35-55,1,60,N,Fail,4450.0,50.0,44.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,FFF_2014J,2681198,0-20,1,500-1000,1,500-1000,3,50-100,500-1000,...,Lower Than A Level,70-80%,35-55,0,90,N,Pass,5050.0,100.0,50.5
1461,FFF_2014J,2682682,0-20,0,100-500,0,100-500,3,10-50,1000-5000,...,A Level or Equivalent,60-70%,0-35,0,120,Y,Pass,9025.0,100.0,90.2
1462,FFF_2014J,2683857,20-50,1,500-1000,0,3000<=,5,10-50,1000-5000,...,Lower Than A Level,70-80%,35-55,1,90,N,Pass,7325.0,100.0,73.2
1463,FFF_2014J,2693932,0-20,0,0-100,0,100-500,4,0-10,1000-5000,...,A Level or Equivalent,90-100%,0-35,1,120,N,Pass,6700.0,75.0,67.0
1464,FFF_2014J,2697921,0-20,0,100-500,0,100-500,3,0-10,500-1000,...,Lower Than A Level,80-90%,0-35,1,60,N,Pass,8425.0,100.0,84.2

In [43]:
print(final_df.ouwiki.max())
print(final_df.ouwiki.value_counts(bins=[0,10,50,100,500], sort=True))

275
(10.0, 50.0]      635
(-0.001, 10.0]    595
(50.0, 100.0]     175
(100.0, 500.0]     60
Name: ouwiki, dtype: int64

In [44]:
def map_ouwiki(ouwiki):
  if ouwiki >= 0 and ouwiki < 10:
    return "0-10"
  elif ouwiki >= 10 and ouwiki < 50:
    return "10-50"
  elif ouwiki >= 50 and ouwiki < 100:
    return "50-100"
  else:
    return "100<="

final_df_adj_c["ouwiki"] = final_df_adj_c["ouwiki"].apply(lambda ouwiki: map_ouwiki(ouwiki))
final_df_adj_c

,module_presentation,id_student,dataplus,dualpane,forumng,glossary,homepage,htmlactivity,oucollaborate,oucontent,...,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,score*weight,weight,w_final_score
0,FFF_2014J,31296,0-20,0,0-100,0,100-500,0,0-10,100-500,...,Lower Than A Level,30-40%,0-35,1,60,N,Fail,5225.0,100.0,52.2
1,FFF_2014J,35796,0-20,0,100-500,0,100-500,4,0-10,100-500,...,A Level or Equivalent,20-30%,0-35,0,60,N,Fail,1025.0,12.5,10.2
2,FFF_2014J,40878,0-20,0,100-500,0,100-500,4,0-10,500-1000,...,Lower Than A Level,0-10%,0-35,0,120,N,Pass,8800.0,100.0,88.0
3,FFF_2014J,42552,0-20,1,100-500,19,500-1000,11,10-50,1000-5000,...,A Level or Equivalent,80-90%,0-35,0,90,N,Pass,7175.0,100.0,71.8
4,FFF_2014J,43958,0-20,0,100-500,0,100-500,1,0-10,100-500,...,A Level or Equivalent,90-100%,35-55,1,60,N,Fail,4450.0,50.0,44.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,FFF_2014J,2681198,0-20,1,500-1000,1,500-1000,3,50-100,500-1000,...,Lower Than A Level,70-80%,35-55,0,90,N,Pass,5050.0,100.0,50.5
1461,FFF_2014J,2682682,0-20,0,100-500,0,100-500,3,10-50,1000-5000,...,A Level or Equivalent,60-70%,0-35,0,120,Y,Pass,9025.0,100.0,90.2
1462,FFF_2014J,2683857,20-50,1,500-1000,0,3000<=,5,10-50,1000-5000,...,Lower Than A Level,70-80%,35-55,1,90,N,Pass,7325.0,100.0,73.2
1463,FFF_2014J,2693932,0-20,0,0-100,0,100-500,4,0-10,1000-5000,...,A Level or Equivalent,90-100%,0-35,1,120,N,Pass,6700.0,75.0,67.0
1464,FFF_2014J,2697921,0-20,0,100-500,0,100-500,3,0-10,500-1000,...,Lower Than A Level,80-90%,0-35,1,60,N,Pass,8425.0,100.0,84.2

In [45]:
# šo pazīmi var neizmantot
print(final_df.page.max())
print(final_df.page.value_counts(bins=[0,10,50,100,500], sort=True))

46
(-0.001, 10.0]    1234
(10.0, 50.0]       231
(100.0, 500.0]       0
(50.0, 100.0]        0
Name: page, dtype: int64

In [46]:
# šo pazīmi var neizmantot
print(final_df.questionnaire.max())
print(final_df.questionnaire.value_counts(bins=[0,10,50], sort=True))

37
(-0.001, 10.0]    1013
(10.0, 50.0]       452
Name: questionnaire, dtype: int64

In [47]:
print(final_df.quiz.max())
print(final_df.quiz.value_counts(bins=[0,50,100,500,1000,5000,10000], sort=True))

8780
(500.0, 1000.0]      839
(1000.0, 5000.0]     275
(100.0, 500.0]       182
(-0.001, 50.0]       131
(50.0, 100.0]         36
(5000.0, 10000.0]      2
Name: quiz, dtype: int64

In [48]:
def map_quiz(quiz):
  if quiz >= 0 and quiz < 50:
    return "0-50"
  elif quiz >= 50 and quiz < 100:
    return "50-100"
  elif quiz >= 100 and quiz < 500:
    return "100-500"
  elif quiz >= 500 and quiz < 1000:
    return "500-1000"
  elif quiz >= 1000 and quiz < 5000:
    return "1000-5000"
  else:
    return "5000<="

final_df_adj_c["quiz"] = final_df_adj_c["quiz"].apply(lambda quiz: map_quiz(quiz))
final_df_adj_c

,module_presentation,id_student,dataplus,dualpane,forumng,glossary,homepage,htmlactivity,oucollaborate,oucontent,...,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,score*weight,weight,w_final_score
0,FFF_2014J,31296,0-20,0,0-100,0,100-500,0,0-10,100-500,...,Lower Than A Level,30-40%,0-35,1,60,N,Fail,5225.0,100.0,52.2
1,FFF_2014J,35796,0-20,0,100-500,0,100-500,4,0-10,100-500,...,A Level or Equivalent,20-30%,0-35,0,60,N,Fail,1025.0,12.5,10.2
2,FFF_2014J,40878,0-20,0,100-500,0,100-500,4,0-10,500-1000,...,Lower Than A Level,0-10%,0-35,0,120,N,Pass,8800.0,100.0,88.0
3,FFF_2014J,42552,0-20,1,100-500,19,500-1000,11,10-50,1000-5000,...,A Level or Equivalent,80-90%,0-35,0,90,N,Pass,7175.0,100.0,71.8
4,FFF_2014J,43958,0-20,0,100-500,0,100-500,1,0-10,100-500,...,A Level or Equivalent,90-100%,35-55,1,60,N,Fail,4450.0,50.0,44.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,FFF_2014J,2681198,0-20,1,500-1000,1,500-1000,3,50-100,500-1000,...,Lower Than A Level,70-80%,35-55,0,90,N,Pass,5050.0,100.0,50.5
1461,FFF_2014J,2682682,0-20,0,100-500,0,100-500,3,10-50,1000-5000,...,A Level or Equivalent,60-70%,0-35,0,120,Y,Pass,9025.0,100.0,90.2
1462,FFF_2014J,2683857,20-50,1,500-1000,0,3000<=,5,10-50,1000-5000,...,Lower Than A Level,70-80%,35-55,1,90,N,Pass,7325.0,100.0,73.2
1463,FFF_2014J,2693932,0-20,0,0-100,0,100-500,4,0-10,1000-5000,...,A Level or Equivalent,90-100%,0-35,1,120,N,Pass,6700.0,75.0,67.0
1464,FFF_2014J,2697921,0-20,0,100-500,0,100-500,3,0-10,500-1000,...,Lower Than A Level,80-90%,0-35,1,60,N,Pass,8425.0,100.0,84.2

In [49]:
# šo pazīmi var neizmantot
print(final_df.repeatactivity.max())
print(final_df.repeatactivity.value_counts(bins=[0,10,30,50], sort=True))

2
(-0.001, 10.0]    1465
(30.0, 50.0]         0
(10.0, 30.0]         0
Name: repeatactivity, dtype: int64

In [50]:
print(final_df.resource.max())
print(final_df.resource.value_counts(bins=[0,10,50,100,500], sort=True))

216
(10.0, 50.0]      1083
(50.0, 100.0]      250
(-0.001, 10.0]      98
(100.0, 500.0]      34
Name: resource, dtype: int64

In [51]:
def map_resource(resource):
  if resource >= 0 and resource < 10:
    return "0-10"
  elif resource >= 10 and resource < 50:
    return "10-50"
  elif resource >= 50 and resource < 100:
    return "50-100"
  else:
    return "100<="

final_df_adj_c["resource"] = final_df_adj_c["resource"].apply(lambda resource: map_resource(resource))
final_df_adj_c

,module_presentation,id_student,dataplus,dualpane,forumng,glossary,homepage,htmlactivity,oucollaborate,oucontent,...,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,score*weight,weight,w_final_score
0,FFF_2014J,31296,0-20,0,0-100,0,100-500,0,0-10,100-500,...,Lower Than A Level,30-40%,0-35,1,60,N,Fail,5225.0,100.0,52.2
1,FFF_2014J,35796,0-20,0,100-500,0,100-500,4,0-10,100-500,...,A Level or Equivalent,20-30%,0-35,0,60,N,Fail,1025.0,12.5,10.2
2,FFF_2014J,40878,0-20,0,100-500,0,100-500,4,0-10,500-1000,...,Lower Than A Level,0-10%,0-35,0,120,N,Pass,8800.0,100.0,88.0
3,FFF_2014J,42552,0-20,1,100-500,19,500-1000,11,10-50,1000-5000,...,A Level or Equivalent,80-90%,0-35,0,90,N,Pass,7175.0,100.0,71.8
4,FFF_2014J,43958,0-20,0,100-500,0,100-500,1,0-10,100-500,...,A Level or Equivalent,90-100%,35-55,1,60,N,Fail,4450.0,50.0,44.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,FFF_2014J,2681198,0-20,1,500-1000,1,500-1000,3,50-100,500-1000,...,Lower Than A Level,70-80%,35-55,0,90,N,Pass,5050.0,100.0,50.5
1461,FFF_2014J,2682682,0-20,0,100-500,0,100-500,3,10-50,1000-5000,...,A Level or Equivalent,60-70%,0-35,0,120,Y,Pass,9025.0,100.0,90.2
1462,FFF_2014J,2683857,20-50,1,500-1000,0,3000<=,5,10-50,1000-5000,...,Lower Than A Level,70-80%,35-55,1,90,N,Pass,7325.0,100.0,73.2
1463,FFF_2014J,2693932,0-20,0,0-100,0,100-500,4,0-10,1000-5000,...,A Level or Equivalent,90-100%,0-35,1,120,N,Pass,6700.0,75.0,67.0
1464,FFF_2014J,2697921,0-20,0,100-500,0,100-500,3,0-10,500-1000,...,Lower Than A Level,80-90%,0-35,1,60,N,Pass,8425.0,100.0,84.2

In [52]:
print(final_df.subpage.max())
print(final_df.subpage.value_counts(bins=[0,50,100,500,1000,3000], sort=True))

1700
(100.0, 500.0]      1104
(500.0, 1000.0]      162
(50.0, 100.0]         95
(-0.001, 50.0]        89
(1000.0, 3000.0]      15
Name: subpage, dtype: int64

In [53]:
def map_subpage(subpage):
  if subpage >= 0 and subpage < 50:
    return "0-50"
  elif subpage >= 50 and subpage < 100:
    return "50-100"
  elif subpage >= 100 and subpage < 500:
    return "100-500"
  elif subpage >= 500 and subpage < 1000:
    return "500-1000"
  else:
    return "1000<="

final_df_adj_c["subpage"] = final_df_adj_c["subpage"].apply(lambda subpage: map_subpage(subpage))
final_df_adj_c

,module_presentation,id_student,dataplus,dualpane,forumng,glossary,homepage,htmlactivity,oucollaborate,oucontent,...,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,score*weight,weight,w_final_score
0,FFF_2014J,31296,0-20,0,0-100,0,100-500,0,0-10,100-500,...,Lower Than A Level,30-40%,0-35,1,60,N,Fail,5225.0,100.0,52.2
1,FFF_2014J,35796,0-20,0,100-500,0,100-500,4,0-10,100-500,...,A Level or Equivalent,20-30%,0-35,0,60,N,Fail,1025.0,12.5,10.2
2,FFF_2014J,40878,0-20,0,100-500,0,100-500,4,0-10,500-1000,...,Lower Than A Level,0-10%,0-35,0,120,N,Pass,8800.0,100.0,88.0
3,FFF_2014J,42552,0-20,1,100-500,19,500-1000,11,10-50,1000-5000,...,A Level or Equivalent,80-90%,0-35,0,90,N,Pass,7175.0,100.0,71.8
4,FFF_2014J,43958,0-20,0,100-500,0,100-500,1,0-10,100-500,...,A Level or Equivalent,90-100%,35-55,1,60,N,Fail,4450.0,50.0,44.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,FFF_2014J,2681198,0-20,1,500-1000,1,500-1000,3,50-100,500-1000,...,Lower Than A Level,70-80%,35-55,0,90,N,Pass,5050.0,100.0,50.5
1461,FFF_2014J,2682682,0-20,0,100-500,0,100-500,3,10-50,1000-5000,...,A Level or Equivalent,60-70%,0-35,0,120,Y,Pass,9025.0,100.0,90.2
1462,FFF_2014J,2683857,20-50,1,500-1000,0,3000<=,5,10-50,1000-5000,...,Lower Than A Level,70-80%,35-55,1,90,N,Pass,7325.0,100.0,73.2
1463,FFF_2014J,2693932,0-20,0,0-100,0,100-500,4,0-10,1000-5000,...,A Level or Equivalent,90-100%,0-35,1,120,N,Pass,6700.0,75.0,67.0
1464,FFF_2014J,2697921,0-20,0,100-500,0,100-500,3,0-10,500-1000,...,Lower Than A Level,80-90%,0-35,1,60,N,Pass,8425.0,100.0,84.2

In [54]:
print(final_df.url.max())
print(final_df.url.value_counts(bins=[0,10,50,100,500], sort=True))

246
(10.0, 50.0]      850
(-0.001, 10.0]    379
(50.0, 100.0]     189
(100.0, 500.0]     47
Name: url, dtype: int64

In [55]:
def map_url(url):
  if url >= 0 and url < 10:
    return "0-10"
  elif url >= 10 and url < 50:
    return "10-50"
  elif url >= 50 and url < 100:
    return "50-100"
  else:
    return "100<="

final_df_adj_c["url"] = final_df_adj_c["url"].apply(lambda url: map_url(url))
final_df_adj_c

,module_presentation,id_student,dataplus,dualpane,forumng,glossary,homepage,htmlactivity,oucollaborate,oucontent,...,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,score*weight,weight,w_final_score
0,FFF_2014J,31296,0-20,0,0-100,0,100-500,0,0-10,100-500,...,Lower Than A Level,30-40%,0-35,1,60,N,Fail,5225.0,100.0,52.2
1,FFF_2014J,35796,0-20,0,100-500,0,100-500,4,0-10,100-500,...,A Level or Equivalent,20-30%,0-35,0,60,N,Fail,1025.0,12.5,10.2
2,FFF_2014J,40878,0-20,0,100-500,0,100-500,4,0-10,500-1000,...,Lower Than A Level,0-10%,0-35,0,120,N,Pass,8800.0,100.0,88.0
3,FFF_2014J,42552,0-20,1,100-500,19,500-1000,11,10-50,1000-5000,...,A Level or Equivalent,80-90%,0-35,0,90,N,Pass,7175.0,100.0,71.8
4,FFF_2014J,43958,0-20,0,100-500,0,100-500,1,0-10,100-500,...,A Level or Equivalent,90-100%,35-55,1,60,N,Fail,4450.0,50.0,44.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,FFF_2014J,2681198,0-20,1,500-1000,1,500-1000,3,50-100,500-1000,...,Lower Than A Level,70-80%,35-55,0,90,N,Pass,5050.0,100.0,50.5
1461,FFF_2014J,2682682,0-20,0,100-500,0,100-500,3,10-50,1000-5000,...,A Level or Equivalent,60-70%,0-35,0,120,Y,Pass,9025.0,100.0,90.2
1462,FFF_2014J,2683857,20-50,1,500-1000,0,3000<=,5,10-50,1000-5000,...,Lower Than A Level,70-80%,35-55,1,90,N,Pass,7325.0,100.0,73.2
1463,FFF_2014J,2693932,0-20,0,0-100,0,100-500,4,0-10,1000-5000,...,A Level or Equivalent,90-100%,0-35,1,120,N,Pass,6700.0,75.0,67.0
1464,FFF_2014J,2697921,0-20,0,100-500,0,100-500,3,0-10,500-1000,...,Lower Than A Level,80-90%,0-35,1,60,N,Pass,8425.0,100.0,84.2

In [58]:
def map_final_score(score):
  if score >= 0 and score < 10:
    return "0.0-10.0"
  elif score >= 10 and score < 30:
    return "10.0-30.0"
  elif score >= 30 and score < 50:
    return "30.0-50.0"
  elif score >= 50 and score < 80:
    return "50.0-80.0"
  else:
    return "80.0-100.0"

In [59]:
# nosaukumā cat=categorized, dem = demographic data, act - activity data
# lrn - other various learning data(assignment scores etc.)

# OULA_cat - satur gan demogrāfiskos datus, gan click activities, gan w_final_score, num_of_prev_attempts, studied_credits, kas principā ietver mācību datus
OULA_cat_demActLrn = final_df_adj_c.drop(columns=['score*weight', 'weight','module_presentation', 'region', 'imd_band', 'disability','dualpane', 'glossary', 'htmlactivity', 'page', 'questionnaire', 'repeatactivity'])
OULA_cat_demActLrn["w_final_score"] = OULA_cat_demActLrn["w_final_score"].apply(lambda score: map_final_score(score))
OULA_cat_demActLrn.to_csv('OULA_FFF_2014J_cat_demActLrn.csv', index=False)

# OULA_cat_demAct - ietver demogrāfiskos un aktivitāšu datus, līdzīgi kā MIT 
OULA_cat_demAct = OULA_cat_demActLrn.drop(columns=['num_of_prev_attempts', 'studied_credits', 'w_final_score'])
OULA_cat_demAct.to_csv('OULA_FFF_2014J_cat_demAct.csv', index=False)

In [60]:
OULA_cat_demActLrn.shape

(1465, 18)

In [61]:
OULA_cat_demAct.shape

(1465, 15)

In [62]:
OULA_cat_demActLrn.final_result.value_counts()

Pass    1117
Fail     348
Name: final_result, dtype: int64

### balansēto datu kopu izveide

In [65]:
OULA_cat_demActLrn_passes = OULA_cat_demActLrn.loc[OULA_cat_demActLrn.final_result == 'Pass']
OULA_cat_demActLrn_fails = OULA_cat_demActLrn.loc[OULA_cat_demActLrn.final_result == 'Fail']
OULA_cat_demActLrn_passes_sample = OULA_cat_demActLrn_passes.sample(350)
OULA_cat_demActLrn_subset = pd.concat([OULA_cat_demActLrn_passes_sample, OULA_cat_demActLrn_fails])

In [68]:
OULA_cat_demActLrn_subset.head()

,id_student,dataplus,forumng,homepage,oucollaborate,oucontent,ouwiki,quiz,resource,subpage,url,gender,highest_education,age_band,num_of_prev_attempts,studied_credits,final_result,w_final_score
1452,2641156,0-20,0-100,100-500,0-10,100-500,0-10,500-1000,50-100,100-500,0-10,M,A Level or Equivalent,0-35,0,120,Pass,50.0-80.0
607,638515,0-20,0-100,100-500,0-10,500-1000,10-50,500-1000,10-50,100-500,10-50,M,Lower Than A Level,0-35,0,90,Pass,50.0-80.0
1430,2519138,0-20,100-500,500-1000,0-10,1000-5000,10-50,500-1000,10-50,100-500,10-50,M,A Level or Equivalent,35-55,0,90,Pass,80.0-100.0
455,606257,0-20,100-500,500-1000,0-10,1000-5000,10-50,1000-5000,50-100,100-500,10-50,F,HE Qualification,0-35,0,120,Pass,80.0-100.0
241,497415,0-20,100-500,100-500,0-10,1000-5000,50-100,500-1000,50-100,100-500,10-50,M,A Level or Equivalent,0-35,0,60,Pass,50.0-80.0

In [ ]:
OULA_cat_demActLrn_subset.to_csv('OULA_FFF_2014J_cat_demActLrn_balanced.csv', index=False)

In [66]:
OULA_cat_demAct_passes = OULA_cat_demAct.loc[OULA_cat_demAct.final_result == 'Pass']
OULA_cat_demAct_fails = OULA_cat_demAct.loc[OULA_cat_demAct.final_result == 'Fail']
OULA_cat_demAct_passes_sample = OULA_cat_demAct_passes.sample(350)
OULA_cat_demAct_subset = pd.concat([OULA_cat_demAct_passes_sample, OULA_cat_demAct_fails])

In [69]:
OULA_cat_demAct_subset.head()

,id_student,dataplus,forumng,homepage,oucollaborate,oucontent,ouwiki,quiz,resource,subpage,url,gender,highest_education,age_band,final_result
792,649979,0-20,0-100,100-500,0-10,500-1000,10-50,500-1000,10-50,100-500,10-50,M,A Level or Equivalent,0-35,Pass
432,598540,20-50,1000-3000,500-1000,0-10,1000-5000,100<=,500-1000,50-100,100-500,10-50,M,Lower Than A Level,35-55,Pass
838,652438,0-20,0-100,100-500,0-10,100-500,0-10,500-1000,10-50,100-500,0-10,F,Lower Than A Level,0-35,Pass
916,656529,0-20,1000-3000,500-1000,10-50,1000-5000,10-50,500-1000,10-50,500-1000,10-50,M,A Level or Equivalent,35-55,Pass
569,634088,0-20,100-500,100-500,0-10,1000-5000,10-50,500-1000,10-50,100-500,10-50,M,A Level or Equivalent,0-35,Pass

In [ ]:
OULA_cat_demAct_subset.to_csv('OULA_FFF_2014J_cat_demAct_balanced.csv', index=False)